.button {
    padding: 1.6rem 4.8rem;
    border-radius: 5px;
    transition: all 0.3s;
    font-size: 1.6rem;
    white-space: nowrap;
}

.button:hover {
    opacity: 0.6;
}

.button--accent {
    background-color: var(--redish);
    color: var(--white);
}

.button--white {
    background-color: var(--white);
    border: 2px solid silver;
    color: var(--black);
}

/* ======================================================== */

@media (max-width: 480px) {
    .button {
        display: block;
        width: 100%;
    }
}
