.categories {
    margin-bottom: 7rem;
}

.categories__wrapper {
    position: relative;
}

.categories__top {
    margin-bottom: 6rem;
}

.categories__bottom {
}

.categories__box {
    display: flex;
    column-gap: 3rem;
    padding-bottom: 7rem;
    border-bottom: 1px solid #999;
}

.categories__item {
    flex: 1 1 170px;
    min-height: 14.5rem;
    border: 1px solid #999;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: all 0.3s;
}

.categories__item:hover {
    background-color: var(--redish);
    border-color: var(--redish);
}
.categories__item:hover .categories__item-name {
    color: var(--white);
}

.categories__item:hover .categories__item-icon svg path,
.categories__item:hover .categories__item-icon svg line {
    stroke: var(--white);
}

.categories__item-icon {
    height: 5.6rem;
    margin-bottom: 1.6rem;
}

.categories__item-icon svg path,
.categories__item-icon svg line {
    transition: all 0.3s;
    stroke: var(--black);
}

.categories__item-name {
    font-size: 1.6rem;
    transition: all 0.3s;
}

/* ======================================================================== */

.swiper-button-prev,
.swiper-button-next {
    background-color: var(--redish);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    top: 7.5rem;
    right: 0;
    left: auto;
    transition: all 0.3s;
    /* z-index: -1; */
}

.swiper-button-prev {
    right: 6rem;
}

.swiper-button-next::after {
    transform: translateX(2px);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: white;
    font-size: 2rem;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    opacity: 0.5;
}

.swiper-button-prev:active,
.swiper-button-next:active {
    opacity: 0.3;
}

/* ======================================================================== */

@media (max-width: 1182px) {
}

@media (max-width: 993px) {
    .categories__box {
        flex-wrap: wrap;
        row-gap: 3rem;
    }
}

@media (max-width: 500px) {
    .swiper-button-prev,
    .swiper-button-next {
        top: 3.5rem;
    }
}
