.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 8rem 0 2.4rem;
}

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer__wrapper {
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    column-gap: 2rem;
}

.footer__logo {
    font-size: 2.2rem;
    margin-bottom: 2.4rem;
}

.footer__form {
    margin-top: 1.6rem;
    position: relative;
    min-width: 22rem;
}

.footer__form input {
    width: 100%;
    padding: 1.2rem 1.6rem;
    border: 1px solid var(--white);
    border-radius: 5px;
    font-size: 1.4rem;
    transition: all 0.3s;
}

.footer__form input:focus {
    box-shadow: 0 0 10px var(--white);
}

.footer__form input::placeholder {
    color: inherit;
    opacity: 0.5;
}

.footer__form button {
    position: absolute;
    top: 10px;
    right: 17px;
}

.footer__list {
}

.footer__list a:hover {
    text-decoration: underline;
}

.footer__list-item {
}

.footer__list-item + .footer__list-item {
    margin-top: 1.6rem;
}

.footer__list-link {
}

.footer__text {
    font-size: 1.4rem;
}

.footer__column {
}

.footer__column-title {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
    font-weight: 500;
}

.footer__small-text {
    font-size: 1.2rem;
    opacity: 0.5;
}

.footer__downloadables {
    display: flex;
    column-gap: 1rem;
    margin: 1rem 0 2.4rem;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__socials li {
    min-width: 2.4rem;
    height: 2.4rem;
}

.footer__bottom {
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.3;
}

.footer__icon-btn {
    width: 2.4rem;
    max-height: 2.4rem;
    padding: 2px;

    transition: all 0.2s;
}
.footer__icon-btn:hover {
    opacity: 0.5;
}
.footer__icon-btn img {
    max-width: 100%;
    max-height: 2.4rem;
}

.footer__stores a {
    display: block;
    width: 11rem;
    transition: all 0.3s;
}

.footer__stores a img {
    max-width: 100%;
}

.footer__stores a:hover {
    opacity: 0.5;
}

.footer__stores a:nth-child(1) {
    margin-bottom: 0.5rem;
}
.footer__stores a:nth-child(2) {
    transform: translateX(-2px);
}

/* ================================================================================================ */

@media (max-width: 993px) {
    .footer__top {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 5rem;
        row-gap: 2rem;
    }
    .footer__form {
        min-width: 18.5rem;
    }
}

@media (max-width: 768px) {
}
@media (max-width: 600px) {
    .footer__column:nth-child(5) {
        flex: 1 1 100%;
        justify-self: center;
        max-width: 208px;
        margin: 0 auto;
    }
}

@media (max-width: 440px) {
    .footer {
        padding: 4rem 0 2rem;
    }
    .footer__top {
        margin-bottom: 3rem;
    }
    .footer__column {
        flex: 1 1 100%;
        max-width: 208px;
        margin: 0 auto;
    }
    .footer__column-title {
        margin-left: -2rem;
    }
}
