.header__hamburger-menu {
    display: none;
}

@media (max-width: 400px) {
    /* DRAWING THE HAMBURGER */

    .header__hamburger-menu {
        display: block;
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 7;
        margin-right: 1rem;
    }

    .header__hamburger-menu:before,
    .header__hamburger-menu:after {
        content: '';
    }

    .header__hamburger-menu:before,
    .header__hamburger-menu:after,
    .header__hamburger-menu span {
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s ease 0s;
    }

    .header__hamburger-menu:before {
        top: 0;
    }

    .header__hamburger-menu:after {
        bottom: 0;
    }

    .header__hamburger-menu span {
        top: 9px;
    }

    .header__hamburger-menu.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__hamburger-menu.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__hamburger-menu.active span {
        transform: scale(0);
    }

    /* =================================================================== */

    /* .header__menu { */
    .header__column:nth-child(2),
    .header__column:nth-child(3) {
        /* position: fixed; */
        position: absolute;
        z-index: 5;
        /* top: -100%; */
        right: -100%;
        width: 100%;
        /* height: 100%; */
        height: auto;
        /* left: 0; */
        background-color: #ccc;
        padding: 2rem 1rem;
        transition: all 0.2s ease 0s;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
    }

    .header__column:nth-child(2) {
        top: 16rem;
    }
    .header__column:nth-child(3) {
        top: 7rem;
    }

    /* .header__menu.active { */
    .header__column:nth-child(2).active {
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    .header__column:nth-child(3).active {
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    .header__list {
        display: block;
        text-align: center;
    }

    .header__column:nth-child(2).active .header__list-link {
        display: inline-block;
        font-size: 2.6rem;
        padding: 2rem 0;
        color: #000;
        transition: none;
    }

    .header__list-link:hover {
        opacity: 1;
        background-color: #444;
    }

    body.lock {
        overflow: hidden; /* the page won't be scrolling */
    }

    .header {
        padding: 0;
        position: relative;
    }
    .header:after {
        content: '';
        position: absolute;
        z-index: 6;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

    .header__logo {
        position: relative;
        z-index: 7;
        margin-left: 1rem;
    }

    /* ================================================ */

    .header__actions {
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    .header__form,
    .header__buttons {
        flex: 1 1 100%;
    }

    .header__buttons {
        column-gap: 3rem;
        justify-content: center;
    }
}
