.header {
    color: var(--black);
    margin-top: 2.4rem;
    border-bottom: 1px solid silver;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3rem 0;
    position: relative;
}

.header__column {
}

.header__logo {
    color: inherit;
    text-decoration: none;
}

.header__navbar {
}

.header__list {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 4.8rem;
}

.header__list-item {
}

.header__list-link {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    position: relative;
}

.header__list-link:hover:after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: grey;
    width: 100%;
    height: 1px;
}

.header__list-link.active {
}

.header__list-link.active:after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    background-color: grey;
    width: 100%;
    height: 1px;
}

.header__actions {
    display: flex;
    align-items: center;
    column-gap: 2.4rem;
}

.header__form {
    min-width: 24.3rem;
    position: relative;
}

.header__search-input {
    width: 100%;
    background-color: #eee;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.header__search-input:focus {
    outline: 2px solid grey;
}

.header__search-input::placeholder {
    color: inherit;
    opacity: 0.5;
}

.header__buttons {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
}

.header__button {
    min-width: 2.4rem;
    max-height: 2.4rem;
    padding: 2px;
    transition: all 0.2s;
}

.header__button:hover {
    opacity: 0.5;
}

.header__search {
    position: absolute;
    top: 7px;
    right: 12px;
}

.header__favorites,
.header__cart {
    position: relative;
}

.header__favorites-number,
.header__cart-number {
    position: absolute;
    top: -0.6rem;
    right: -0.7rem;
    color: var(--white);
    background-color: var(--redish);
    width: 1.7rem;
    height: 1.7rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
}

.header__user {
    padding: 4px;
    transform: translateY(-2px);
    position: relative;
    z-index: 1;
}

.header__user:hover {
    opacity: 1;
}

.header__user:hover .header__user-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header__user-dropdown {
    display: block;
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    width: 20rem;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 10px 15px 10px -1px grey;
}

.header__user-dropdown li > * {
    display: inline-block;
    padding: 1rem 0;
    color: inherit;
    white-space: nowrap;
    font-size: 1.4rem;
    width: 100%;
    background-color: #ccc;
    color: black;
    text-align: center;
}
.header__user-dropdown li:first-child {
    margin-top: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.header__user-dropdown li > *:hover {
    background-color: #aaa;
}
.header__user-dropdown li > *:active {
    opacity: 0.5;
}

/* ================================================================================================ */

@media (max-width: 993px) {
    .header {
        margin-top: 1rem;
    }

    .header__wrapper {
        flex-wrap: wrap;
        row-gap: 2rem;
        column-gap: 5rem;
    }

    .header__column:nth-child(1) {
        order: 1;
    }
    .header__column:nth-child(2) {
        order: 3;
    }
    .header__column:nth-child(3) {
        order: 2;
    }
}

@media (max-width: 520px) {
    .header__column {
        flex: 1 1 100%;
    }
    .header__column:nth-child(2) {
        order: 2;
    }
    .header__column:nth-child(3) {
        order: 3;
    }
    .header__list {
        justify-content: space-between;
    }
    .header__form {
        min-width: 21rem;
        flex: 1;
    }
}

@media (max-width: 400px) {
    .header__column:nth-child(1) {
        flex: 1 0 auto;
        order: 1;
    }

    .header__hamburger-menu {
        order: 2;
    }

    .header .container {
        padding: 0;
    }

    .header__search-input::placeholder {
        font-size: 1.6rem;
    }
}
