:root {
    /* --accent: AntiqueWhite; */
    --accent: grey;
    --bg: #000;
    --black: #000;
    --white: #fff;
}

/*  ============================================================================================= */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* = 10px, easier to calculate */
}

body {
    /* background-color: var(--bg); */
    /* color: var(--accent); */
    font-family: Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

input,
button,
select,
textarea {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    /* border: 1px solid var(--accent); */
    outline: none;
    /* transition: box-shadow 0.3s; */
}

button {
    /* border: none; */
    /* border-bottom: 1px solid var(--accent); */
    /* padding-bottom: 2px; */
}
button:hover {
    /* border-bottom: transparent; */
}
button:active {
    opacity: 0.5;
}

input:focus,
textarea:focus {
    /* box-shadow: 0 0 10px var(--accent); */
}

textarea {
    resize: vertical;
}

button {
    cursor: pointer;
}

input::placeholder {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    opacity: 1;
}

/*  ============================================================================================= */

.container {
    max-width: 1170px; /* the width of the content, the container width */
    margin: 0 auto;
    width: 100%;

    @media (max-width: 1182px) {
        max-width: 970px;
    }

    @media (max-width: 993px) {
        /* for tablets, 1024х768px is a size of a little PC monitor or iPad */
        max-width: 750px;
    }

    @media (max-width: 768px) {
        /* for large phones; less than 768px is the hamburger menu time */
        max-width: none;
        padding: 0 10px;
    }

    /* @media (max-width: 480px) { */
    /* for small phones */
    /* max-width: none; */
    /* min-width: 320px; */
    /* padding: 0 10px; */
    /* } */
}

/*  ============================================================================================= */

#root {
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app .main {
    flex: 1 1 auto;
}

/*  ============================================================================================= */

.logo {
    font-size: 2.4rem;
    font-weight: bold;
    transition: all 0.3s;
}
.logo:hover {
    opacity: 0.5;
}
